.App {
  height: 100%;
  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.LoadingLabel,
.ReadyLabel {
  position: absolute;
  color: white;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 0.7rem;
}
