.App {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s background-color ease;

  &--success {
    background-color: #4CAF50;
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.LoadingLabel,
.ReadyLabel {
  position: absolute;
  color: white;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 0.7rem;
}
